@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


.error {
	color: red !important;
	font-size: 40px;
}

.hidden {
	display: none;
}

body {
	font-family: 'Lato', sans-serif;
	color: rgb(199, 194, 194) !important;
	background-color: #1c2833 !important;
}

body a {
	text-decoration: none;
}

.container {
	max-width: auto;
	margin: auto;
	height: auto;
	color: white;
	/*border-radius: 10px;*/
}

.card-container {
	margin: 0 auto;
	/* align-items: center; */
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	background-color: #1c2833;
	height: auto;
	width: auto;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

.card-container h3 {
	height: 30vh;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	/*background-image: url(../img/flag.jpg);
	  background-size: 100% 100%;
	  color: transparent !important;
	  background-clip: text;
	  -webkit-background-clip: text;*/
}

.borderless>tbody>tr>td {
	border: none !important;
	font-size: 25px;
}

.topnav {
	overflow: hidden;
	background-color: #1c2833;
	position: relative;
}

.topnav #myLinks {
	display: none;
	transition: all 2s;
}

.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.topnav a.icon {
	background: black;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.topnav a:hover {
	color: #fff;
}

.topnav a:active {
	color: #fff;
}


.active {
	background-color: #1c2833;
	color: white;
}

.card-container h2 {
	height: 30vh;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	background-image: url(../img/flag.jpg);
	background-size: 100% 100%;
	color: transparent !important;
	background-clip: text;
	-webkit-background-clip: text;
}

.card-container .data {
	/* margin-top: 20%; */
	font-size: 25px;
	border-collapse: separate;
	border-spacing: 0 15px;
}

.card-container .data tr td {
	/* word-spacing: 2px; */
	letter-spacing: 2px;
}

.card-container .data span {
	margin-left: 10%;
}

.red {
	color: red !important;
}