
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
      <p>Made with <ion-icon class='red' name="heart"></ion-icon> by <a href="https://github.com/sumit735">{{name}}</a></p>
    <p>&copy; All Rights Reserved</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
