<div class="topnav">
  <a href="/" class="active">Covid-19 Tracker</a>
  <div id="myLinks">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/statewise">Statewise Data</a>
    <a href="/contact">Contact</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>